*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #CAE1FF;
    height: 100vh;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 60px 1fr 30px;
}

header{
    display: grid;
    grid-column: 2/3;   
    background-color: #FF8C00;
    height: 100%;
   
   }

 .topo{
    display: flex;
    height: 100%;
    
            
 }

 .pesquisa{
     display: flex;
     flex-grow:3;   
     align-items: center;   
     justify-content: center;
 }

 .logar{
    display: flex;   
    align-items: center;  
 }

.topo img{
    width: 25px;   
}

.topo input{
    width: 70%;
    height: 30px;    
}

.logar img{
    width: 60px;
}

.logar button{
    width: 100px;
    height: 30px;
}

.menu-logo{
    display: flex;
    flex-grow: 1;
    background-color: #FFA500;
    grid-row: 1/2;
    color: whitesmoke;
    font-size: 30px;
    height: 100%;
    justify-content: center;
}

.menu-logo img{
    width: 50px;
}

.opcoes{
    display: flex;
    flex-direction: column;
    grid-row: 2/3;
    background-color: #FF8C00;
    color: whitesmoke;    
    align-items: center;
    height: 100%;
    justify-content: center;
}


.bot{
    display: flex;
    margin-top: 20px;
    justify-content: center;
}
.opcoes img{
    width: 30px;
    margin-right: 5px;
}

.opcoes hr{
    margin-top: 10px;
    width: 200px ;
    color: black;
}

