*{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    justify-content: space-between;
    background-color: khaki;    
}

.logo {
    font-size: 30px;
    display: flex;
    align-items: center;
    margin-left: 25px;    
}

.logo p{
    margin-left: 15px;
}

.logo img{
    width:60px;
}

.pesquisa{
    display: flex;
    
}

.pesquisa img{
    width: 20px;
    margin: 0 5px
}

.pesq , .login{
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.pesquisa input{
    width: 500px;
}

.login{
    border: 1px solid #ccc;
    color: #ccc;
}

.login img{
    width: 50px;
}

